<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rutinafitnn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Tabbetgluteos.Main115Activity"
            android:label="@string/title_activity_main115"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Tabbetespalda.Main114Activity"
            android:label="@string/title_activity_main114"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tabbethombro.Main113Activity"
            android:label="@string/title_activity_main113"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tabbetabdomen.Main112Activity"
            android:label="@string/title_activity_main112"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tabbettriceps.Main111Activity"
            android:label="@string/title_activity_main111"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Tabbetbiceps.Main110Activity"
            android:label="@string/title_activity_main110"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main109Activity" />
        <activity
            android:name=".Main108Activity"
            android:label="@string/title_activity_main108"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Main107Activity" />
        <activity android:name=".Main106Activity" />
        <activity android:name=".Main4Activity" />
        <activity android:name=".Main105Activity" />
        <activity android:name=".Main104Activity" />
        <activity android:name=".gluteos.Main103Activity" />
        <activity android:name=".gluteos.Main102Activity" />
        <activity android:name=".gluteos.Main101Activity" />
        <activity android:name=".gluteos.Main100Activity" />
        <activity android:name=".gluteos.Main99Activity" />
        <activity android:name=".gluteos.Main98Activity" />
        <activity android:name=".gluteos.Main97Activity" />
        <activity android:name=".gluteos.Main96Activity" />
        <activity android:name=".gluteos.Main95Activity" />
        <activity android:name=".hombro.Main94Activity" />
        <activity android:name=".hombro.Main93Activity" />
        <activity android:name=".hombro.Main92Activity" />
        <activity android:name=".hombro.Main91Activity" />
        <activity android:name=".hombro.Main90Activity" />
        <activity android:name=".hombro.Main89Activity" />
        <activity android:name=".hombro.Main88Activity" />
        <activity android:name=".hombro.Main87Activity" />
        <activity android:name=".hombro.Main86Activity" />
        <activity android:name=".hombro.Main85Activity" />
        <activity android:name=".hombro.Main84Activity" />
        <activity android:name=".pierna.Main83Activity" />
        <activity android:name=".pierna.Main82Activity" />
        <activity android:name=".pierna.Main81Activity" />
        <activity android:name=".pierna.Main80Activity" />
        <activity android:name=".pierna.Main79Activity" />
        <activity android:name=".pierna.Main78Activity" />
        <activity android:name=".pierna.Main77Activity" />
        <activity android:name=".pierna.Main76Activity" />
        <activity android:name=".pecho.Main75Activity" />
        <activity android:name=".pecho.Main74Activity" />
        <activity android:name=".pecho.Main73Activity" />
        <activity android:name=".pecho.Main72Activity" />
        <activity android:name=".pecho.Main71Activity" />
        <activity android:name=".pecho.Main70Activity" />
        <activity android:name=".pecho.Main69Activity" />
        <activity android:name=".pecho.Main68Activity" />
        <activity android:name=".pecho.Main67Activity" />
        <activity android:name=".pecho.Main66Activity" />
        <activity android:name=".pecho.Main65Activity" />
        <activity android:name=".pecho.Main64Activity" />
        <activity android:name=".pecho.Main63Activity" />
        <activity android:name=".pecho.Main62Activity" />
        <activity android:name=".pecho.Main61Activity" />
        <activity android:name=".espalda.Main60Activity" />
        <activity android:name=".espalda.Main59Activity" />
        <activity android:name=".espalda.Main58Activity" />
        <activity android:name=".espalda.Main57Activity" />
        <activity android:name=".espalda.Main56Activity" />
        <activity android:name=".espalda.Main55Activity" />
        <activity android:name=".espalda.Main54Activity" />
        <activity android:name=".espalda.Main53Activity" />
        <activity android:name=".espalda.Main52Activity" />
        <activity android:name=".espalda.Main51Activity" />
        <activity android:name=".espalda.Main50Activity" />
        <activity android:name=".espalda.Main49Activity" />
        <activity android:name=".espalda.Main48Activity" />
        <activity android:name=".espalda.Main47Activity" />
        <activity android:name=".abdomen.Main46Activity" />
        <activity android:name=".abdomen.Main45Activity" />
        <activity android:name=".abdomen.Main44Activity" />
        <activity android:name=".abdomen.Main43Activity" />
        <activity android:name=".abdomen.Main42Activity" />
        <activity android:name=".abdomen.Main41Activity" />
        <activity android:name=".abdomen.Main40Activity" />
        <activity android:name=".abdomen.Main39Activity" />
        <activity android:name=".abdomen.Main38Activity" />
        <activity android:name=".abdomen.Main37Activity" />
        <activity android:name=".abdomen.Main36Activity" />
        <activity android:name=".abdomen.Main35Activity" />
        <activity android:name=".abdomen.Main34Activity" />
        <activity android:name=".abdomen.Main33Activity" />
        <activity android:name=".abdomen.Main32Activity" />
        <activity android:name=".abdomen.Main31Activity" />
        <activity android:name=".abdomen.Main30Activity" />
        <activity android:name=".abdomen.Main29Activity" />
        <activity android:name=".abdomen.Main28Activity" />
        <activity android:name=".triceps.Main27Activity" />
        <activity android:name=".triceps.Main26Activity" />
        <activity android:name=".triceps.Main25Activity" />
        <activity android:name=".triceps.Main24Activity" />
        <activity android:name=".triceps.Main23Activity" />
        <activity android:name=".triceps.Main22Activity" />
        <activity android:name=".triceps.Main21Activity" />
        <activity android:name=".Main20Activity" />
        <activity android:name=".Main19Activity" />
        <activity android:name=".Main18Activity" />
        <activity android:name=".Main17Activity" />
        <activity android:name=".Main16Activity" />
        <activity android:name=".Main15Activity" />
        <activity android:name=".Main14Activity" />
        <activity android:name=".Main13Activity" />
        <activity android:name=".biceps.Main12Activity" />
        <activity android:name=".biceps.Main11Activity" />
        <activity android:name=".biceps.Main10Activity" />
        <activity android:name=".biceps.Pie_mancuerna" />
        <activity android:name=".biceps.Main9Activity" />
        <activity android:name=".Biceps_ejercicios" />
        <activity android:name=".biceps.Main8Activity" />
        <activity android:name=".biceps.Main7Activity" />
        <activity android:name=".Main6Activity" />
        <activity android:name=".Main5Activity" />
        <activity android:name=".Main3Activity" />
        <activity android:name=".Main2Activity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".splash_activity" />
    </application>

</manifest>